/* Here is your custom css styles. */
div .vlist{
    display: flow-root;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #666;font-size:12px;
}

input:-moz-placeholder, textarea:-moz-placeholder {
    color:#666;font-size:16px;
}

input::-moz-placeholder, textarea::-moz-placeholder {
    color:#666;font-size:16px;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color:#666;font-size:16px;
}